*{
    position: relative;
    /* background-color: #5C8374; */
}

.card{
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 400px;
   
}

.avtar{
    border: 2px solid blueviolet;
}
.avtar-secondary{
  
    background-color: aliceblue;
    border: 2px solid gray;
}
.text{
    color: gray;
}

.cardI{
    background-color: black;
}


.avtar{
    
    border-width: 2px bold;
    border-color: blueviolet;
}